<template>
  <div class="flex h-screen bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col flex-1 w-full">
      <Header/>	
      <Dash/>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Dash from '@/components/Dash.vue'

export default {
  name: 'Home',
  components: {
  	Header,
    Dash
  }
}
</script>
