<template>
  <div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900 fondo">
    <div
        class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800"
    >
        <div class="flex flex-col overflow-y-auto md:flex-row">
        <div class="h-32 md:h-auto md:w-1/2">
            <img
            aria-hidden="true"
            class="object-cover w-full h-full dark:hidden"
            src="../../public/img/login-office.jpeg"
            alt="Office"
            />
            <img
            aria-hidden="true"
            class="hidden object-cover w-full h-full dark:block"
            src="../../public/img/login-office-dark.jpeg"
            alt="Office"
            />
        </div>
        
        <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
          
            <div class="w-full">
              <form @submit.prevent="login">
                <h1
                    class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200"
                >
                    Login
                </h1>
                <label class="block text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Email</span>
                    <input
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-yellow-600 sm:text-sm sm:leading-6"
                    v-model="email" 
                    placeholder="pruebas@gmail.com"
                    required/>
                </label>
                <label class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Contraseña</span>
                    <input
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-yellow-600 sm:text-sm sm:leading-6"
                    placeholder="***************"
                    type="password"
                    v-model="password"
                    required/>
                </label>

                <!-- You should use a button here, as the anchor is only used for the example  -->
                <button type="submit" 
                    class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-gray-950 transition-colors duration-150 bg-yellow-400 border border-transparent rounded-lg active:bg-yellow-400 hover:bg-yellow-700 focus:outline-none focus:shadow-outline-purple"
                >
                    <strong>Iniciar Sesión</strong>
                </button>

                <hr class="my-8" />
              </form>
            </div>
        </div>
        </div>
    </div>
  </div>
</template>
<script>
import Vue from 'vue';
import axios from "axios";
import VueToastr from "vue-toastr";

    Vue.use(VueToastr, {
        position: "toast-bottom-left",
        timeout: 5000,
        progressbar: true,
    });

export default {
  name: 'Login',
  data() {
    return {
      email: "",
      password: "",
    };
  },
  mounted() {
    this.$toastr.defaultTimeout = 10000;
    this.$toastr.defaultPosition = "toast-bottom-left";
  },
  methods: {
    login: function () {
      
      var url = "login";
      var token = (axios.defaults.headers.common["Authorization"] ="application/json");

      axios.post(url, {
          headers: {
            token,
          },
          email: this.email,
          password: this.password,
          remember_me: 0,
          isSocialAuth: 0
        }).then((response) => {
          window.localStorage.setItem('access_token', response.data.access_token);
          window.localStorage.setItem('user', JSON.stringify(response.data.user));
          window.localStorage.setItem('isLoggedIn', response.data.isLoggedIn);
          window.location.reload();
        }).catch(error => {
              this.$toastr.e('Usuario No Autorizado');
          });
    },
  }
}
</script>
<style scoped>

  .fondo{
    background-color: rgb(191, 191, 191);
  }

</style>