<template> 
  <main class="h-full overflow-y-auto">
    <div class="container px-6 mx-auto grid">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200" style="text-align: right;">
        AMOBASOFTWARE
      </h2>
      

      <div class="flex justify-between">

        <div class="mr-3">
          <div class="relative text-gray-600 focus-within:text-gray-400">
            <span class="absolute inset-y-0 left-0 flex items-center pl-2">
              <button @click.prevent="buscar_nombre()" type="submit" class="p-1 focus:outline-none focus:shadow-outline">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
              </button>
            </span>
            <input type="text" v-model="b_nombre" @keyup.enter="buscar_nombre()" class="py-2 text-sm rounded-md pl-10 focus:outline-none bg-white" placeholder="Buscar Contacto..." autocomplete="off">
          </div>
        </div>

        <div class="mr-3">
          <button type="button" class="focus:outline-none text-gray-950 bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900" @click.prevent="limpiar_filtros()"><strong>Limpiar Filtros</strong></button>
        </div>

        <div class="mr-3">
          <button type="button" class="focus:outline-none text-gray-950 bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900" @click.prevent="modal_filtro = true"><strong>Filtros</strong></button>
        </div>


        <div class="mr-3">
          <button type="button" class="focus:outline-none text-gray-950 bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900" @click.prevent="modal_user = true"><strong>Nuevo Contacto</strong></button>
        </div>
      </div>


      <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
          <table class="w-full whitespace-no-wrap">
            

            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">

              <tr class="text-gray-700 dark:text-gray-400" v-if="users.length==0"><td class="px-4 py-3"><div class="flex items-center text-sm"><strong>SIN REGISTROS</strong></div></td></tr>

              <tr class="text-gray-700 dark:text-gray-400" v-for="user in users" v-bind:key="user.id">
                <td class="px-4 py-3">
                  <div class="flex items-center text-sm">
                    <div v-if = "user.profile != null"
                      class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
                    >
                      <img
                        v-bind:src="user.profile.ima_profile"
                        class="object-cover w-full h-full rounded-full"
                        alt=""
                        loading="lazy"
                      />
                      <div
                        class="absolute inset-0 rounded-full shadow-inner"
                        aria-hidden="true"
                      ></div>
                    </div>

                    <div v-else
                      class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
                    >
                      <img
                        src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                        class="object-cover w-full h-full rounded-full"
                        alt=""
                        loading="lazy"
                      />
                      <div
                        class="absolute inset-0 rounded-full shadow-inner"
                        aria-hidden="true"
                      ></div>
                    </div>

                    <div v-if="id_edit!=user.id">
                      <p class="font-semibold">{{ user.first_name }} {{ user.last_name }}</p>
                      <p class="text-xs text-yellow-600 dark:text-yellow-400">                        
                        <a @click.prevent="eliminar(user.id)">Eliminar</a>
                      </p>
                    </div>
                    <div v-if="edit==true && id_edit==user.id">
                      <input type="text" v-model="first_name">
                      <input type="text" v-model="last_name">
                    </div>


                  </div>
                </td>


                <td class="px-4 py-3 text-sm" v-if="id_edit!=user.id">
                  {{ user.description }}
                </td>

                <td class="px-4 py-3 text-sm" v-if="edit==true && id_edit==user.id">
                  <textarea v-model="description" rows="4" cols="50"></textarea>
                </td>

                <td class="px-4 py-3 text-sm">
                  <a @click.prevent="editar(user.id)" v-if="id_edit!=user.id">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                    </svg>
                  </a>

                  <a @click.prevent="actualizar(user.id)" v-if="edit==true && id_edit==user.id">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5m8.25 3v6.75m0 0l-3-3m3 3l3-3M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                    </svg>
                  </a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>




      <div class="right-0 grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">          
          

          <span class="col-span-2"></span>
          <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
            <nav aria-label="Table navigation">
              <ul class="inline-flex items-center">
                <li>
                  <button @click.prevent="datos(prev_page)" v-if="prev_arrow == true" class="bg-grey-light hover:bg-grey text-grey-darkest font-bold py-2 px-4 rounded inline-flex items-center">
                    <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path
                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                        fill-rule="evenodd"
                      ></path></svg>
                    <span>Pagina Anterior</span>
                  </button>
                </li>
                

                <li>
                  <button @click.prevent="datos(next_page)" v-if="next_arrow == true" class="bg-grey-light hover:bg-grey text-grey-darkest font-bold py-2 px-4 rounded inline-flex items-center">
                    <span>Pagina Siguiente</span>&nbsp;&nbsp;
                    <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"
                        fill-rule="evenodd"
                      ></path></svg>
                  </button>
                </li>
              </ul>
            </nav>
          </span>
        </div>



      </div>


      <newuser v-if="modal_user == true" @close="modal_user = false" @guardar="guardado"></newuser>

      <filtros v-if="modal_filtro == true" @close="modal_filtro = false" @filtros="aplicar_filtros"></filtros>


    </div>
  </main>
</template>
<script>
  import Vue from 'vue';
  import axios from 'axios'
  import moment from 'moment'
  import newuser from '@/components/New_user.vue'
  import filtros from '@/components/Filtros.vue'
  import VueToastr from "vue-toastr";

    Vue.use(VueToastr, {
        position: "toast-bottom-left",
        timeout: 5000,
        progressbar: true,
    });

  export default {
      name: 'Dash',
      components: {
        newuser,
        filtros,
      },
      data() {
        return {          
            users:[],
            first_name:'',
            last_name:'',
            description:'',

            prev_page:'',
            next_page:'',
            last_page:'',
            prev_arrow:false,
            next_arrow:false,

            modal_user:false,
            modal_filtro:false,

            edit:false,
            id_edit:'',
            page_actual:'',

            b_nombre:'',
            token: axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('access_token')
        };
      },
      mounted() {
        this.$toastr.defaultTimeout = 10000;
        this.$toastr.defaultPosition = "toast-bottom-left";
      },
      created() {
          this.datos();
      },
      methods: {
        datos: function (page) {
            if (typeof page === "undefined") {
                page = 1;
            }

            var url = 'index?page='+page;
            var token = this.token

            axios.get(url, { headers: {"Authorization" : token} }).then(response => {
                this.users = response.data.data;
                this.page_control(page, response.data.last_page);
            });
        },

        editar: function (id) {
          this.edit=true;
          this.id_edit=id;

          var url = 'editar';
          var token = this.token

          axios.post(url, {
              headers:{
                token
              },
              id: id,
          }).then(response => {
              this.first_name = response.data.first_name;
              this.last_name = response.data.last_name;
              this.description = response.data.description;

              this.edit=true;
              this.datos(this.page_actual)
          })
        },

        actualizar: function (id) {
          var url = 'update';
          var token = this.token

          axios.post(url, {
              headers:{
                token
              },
              id: id,
              first_name: this.first_name,
              last_name: this.last_name,
              description: this.description,
          }).then(response => {
              this.edit=false;
              this.id_edit='';

              this.datos(this.page_actual)
              this.$toastr.Add({
                msg: "REGISTRO ACTUALIZADO",
                timeout: 10000, 
                position: "toast-bottom-left", 
                type: "success", 
                style: { backgroundColor: "#5900b3" }
              });
          }).catch(error => {
              var result = Object.keys(error.response.data.errors)[0];
              this.$toastr.w(error.response.data.errors[result]);
          });
        },

        eliminar: function (id, page) {
          if (typeof page === "undefined") {
            page = 1;
          }

          var url = 'delete';
          var token = this.token

          axios.post(url, {
              headers:{
                token
              },
              id: id,
          }).then(response => {
              this.datos(page);
              this.$toastr.e("REGISTRO ELIMINADO");
          });
        },

        page_control: function (page, last_page) {
          this.last_page = last_page;

          if(page==1){
            this.prev_arrow = false;
          }else{
            this.prev_page = parseInt(page) - parseInt(1);
            this.prev_arrow = true;
          }

          this.next_page = parseInt(page) + parseInt(1);
          if(parseInt(this.next_page) > parseInt(this.last_page)){
            this.next_page = this.last_page;
            this.next_arrow = false;
          }else{
            this.next_arrow = true;
          }

          if(last_page==1){
            this.next_arrow = false;
          }

          this.page_actual = page;
        },

        guardado: function(){
          this.modal_user=false;
          this.datos();
          this.$toastr.s("REGSITRO COMPLETADO");
        },

        aplicar_filtros: function(select_filtro, data){
          this.modal_filtro=false;
          var token = this.token

          if(select_filtro == 1){
            var url = 'search_by_id';
            axios.post(url, {
              headers:{
                token
              },
              id: data,
            }).then(response => {
                this.users = response.data;                
                this.desactivar_flechas();
            });
          }

          if(select_filtro == 2){
            var url1 = 'search_by_date';
            axios.post(url1, {
              headers:{
                token
              },
              date: data,
            }).then(response => {
                this.users = response.data;
                this.desactivar_flechas();
            });
          }

          if(select_filtro == 3){
            var url2 = 'search_by_date_interval';
            axios.post(url2, {
              headers:{
                token
              },
              initial_date: data[0],
              final_date: data[1],
            }).then(response => {
                this.users = response.data;                
                this.desactivar_flechas();
            });
          }

          if(select_filtro == 4){
            var url3 = 'search_deletes';
            axios.post(url3, { headers:{
                token
              }}).then(response => {
                this.users = response.data;                
                this.desactivar_flechas();
            });
          }

        },

        buscar_nombre: function(){
          if(this.b_nombre == ''){
            this.datos();
          }else{
            this.desactivar_flechas();
            var token = this.token
            var url = 'search_by_name';
            axios.post(url, {
                headers:{
                  token
                },
                b_nombre: this.b_nombre,
            }).then(response => {
                this.users = response.data;
            })
          }            
        },

        limpiar_filtros: function(){
          this.b_nombre = '';
          this.datos();
        },

        desactivar_flechas: function(){
          this.prev_arrow=false;
          this.next_arrow=false;
        },




      }
  };
</script>

<style scoped>

  main{
    background-color: rgb(191, 191, 191);
  }

</style>