<template>
    <transition name="fade">
      <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        ></div>
        <div
          class="fixed inset-0 z-10 w-screen overflow-y-auto"
        >
          
                <div
                  data-te-modal-init
                  data-te-backdrop="false"
                  class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
                  id="exampleModalComponents"
                  tabindex="-1"
                  aria-labelledby="exampleModalComponentsLabel"
                  aria-hidden="true">
                  <div
                    data-te-modal-dialog-ref
                    class="pointer-events-none relative w-auto opacity-100 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:my-7 min-[576px]:max-w-[500px]">
                    <div
                      class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
                      <div
                        class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
                        <h5
                          class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
                          id="exampleModalComponentsLabel">
                          Filtros
                        </h5>
                        <button @click="$emit('close')"
                          type="button"
                          class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
                          data-te-modal-dismiss
                          aria-label="Close">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="h-6 w-6">
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M6 18L18 6M6 6l12 12" />
                          </svg>
                        </button>
                      </div>
                      <div class="relative flex-auto p-4" data-te-modal-body-ref>
                        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleccione Filtro</label>
                          <select v-model="select_filtro" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected></option>
                            <option value="1">ID de Contacto</option>
                            <option value="2">Fecha de Registro</option>
                            <option value="3">Intervalo de Fechas de Registro</option>
                            <option value="4">Registros Borrados</option>
                          </select>


                        <div class="flex flex-wrap px-3 py-3" v-if="select_filtro==1">
                          <input v-model="id" class="appearance-none block w-full bg-white text-gray-700 border border-gray-200 py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="number">
                        </div>

                        <div class="flex flex-wrap px-3 py-3" v-if="select_filtro==2">
                          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                            <strong>Fecha de Registro:</strong>
                          </label>
                          <input v-model="fecha" class="appearance-none block w-full bg-white text-gray-700 border border-gray-200 py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="date">
                        </div>

                        <div class="flex flex-wrap px-3 py-5" v-if="select_filtro==3">
                          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                            <strong>Fecha Inicial:</strong>
                          </label>
                          <input v-model="fecha_inicial" class="appearance-none block w-full bg-white text-gray-700 border border-gray-200 py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="date">
                          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 mt-3" for="grid-last-name">
                            <strong>Fecha Final:</strong>
                          </label>
                          <input v-model="fecha_final" class="appearance-none block w-full bg-white text-gray-700 border border-gray-200 py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="date" :disabled="fecha_inicial == ''">
                        </div>




                      </div>
                      
                      <div
                        class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
                        <button
                            @click.prevent="limpiar()"
                            class="mb-2 md:mb-0 bg-yellow-400 border border-yellow-400 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-md hover:shadow-lg hover:bg-yellow-400"
                          >
                            Limpiar
                          </button>
                          &nbsp;
                          <button
                            @click.prevent="aplicar()"
                            class="mb-2 md:mb-0 bg-yellow-400 border border-yellow-400 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-md hover:shadow-lg hover:bg-yellow-400"
                          >
                            Aplicar
                          </button>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>
    </transition>
</template>

<script>
  import Vue from 'vue';
  import axios from 'axios'
  import moment from 'moment'
  import VueToastr from "vue-toastr";
  import {
      Modal,
      Ripple,
      initTE,
    } from "tw-elements";

    initTE({ Modal, Ripple });

  export default {
      name: 'Filtros',
      data() {
        return {
            select_filtro:'',
            id:'',
            fecha:'',
            fecha_inicial:'',
            fecha_final:'',
        };
      },
      mounted() {
        this.$toastr.defaultTimeout = 10000;
        this.$toastr.defaultPosition = "toast-bottom-left";
      },
      methods: {  
      	aplicar: function() {
          if(this.select_filtro == 1){
            this.$emit('filtros', this.select_filtro, this.id);
          }
          if(this.select_filtro == 2){
            this.$emit('filtros', this.select_filtro, this.fecha);
          }
          if(this.select_filtro == 3){
            if(moment(this.fecha_inicial).format('YYYY/MM/DD') > moment(this.fecha_final).format('YYYY/MM/DD')){
              this.$toastr.e("LA FECHA FINAL DEBE SER PORSTERIOR A LA FECHA INICIAL");
            }else{
              let data = [this.fecha_inicial,this.fecha_final];
              this.$emit('filtros', this.select_filtro, data);
            }
          }
          if(this.select_filtro == 4){
            let data = null;
            this.$emit('filtros', this.select_filtro, data);
          }
      	},

        limpiar: function() {
          this.id='';
          this.fecha='';
          this.fecha_inicial='';
          this.fecha_final='';
        },	


      }
  };
</script>

<style>
    #app {
      font-family: Avenir, Helvetica, Arial, sans-serif;
    }

    .fade-enter,
    .fade-leave-to {
      opacity: 0;
    }

    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 500ms ease-out;
    }
</style>