<template>
    <header class="z-10 py-4 bg-white shadow-md dark:bg-gray-800">
        <div
            class="container flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300"
        >
            <!-- Mobile hamburger -->
            <button
            class="p-1 mr-5 -ml-1 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple"
            aria-label="Menu"
            >
            <svg
                class="w-6 h-6"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
                <path
                fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"
                ></path>
            </svg>
            </button>
            <!-- Search input -->
            <div class="flex justify-center flex-1 lg:mr-32">
            <div
                class="relative w-full max-w-xl mr-6 focus-within:text-purple-500"
            >
                <div class="absolute inset-y-0 flex items-center pl-2">
                </div>
            </div>
            </div>
            <ul class="flex items-center flex-shrink-0 space-x-6">
            <!-- Profile menu -->
            <li class="relative">
                <button
                class="align-middle rounded-full focus:shadow-outline-purple focus:outline-none"
                aria-label="Account"
                aria-haspopup="true"
                >
                <img
                    class="object-cover w-8 h-8 rounded-full"
                    src="https://media.istockphoto.com/id/1397732783/es/foto/candado-plateado-bloqueado-sobre-fondo-blanco.jpg?s=1024x1024&w=is&k=20&c=hbIK1VkD4Zpu1kZ0FbmFueVHu4I7DyPPz4-CFfzDL-8="
                    alt=""
                    aria-hidden="true"
                    @click="logout"
                />
                </button>
            </li>
            </ul>
        </div>
    </header>
</template>
<script>
import axios from "axios";
export default {
    name: 'Header',
    methods: {
        logout: function ()  {
            var url = 'logout';
            axios.post(url, axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('access_token'),{
            }).then(response => {
                localStorage.clear();
                window.location.reload();
            }).catch(err => {
                localStorage.clear();
                window.location.reload();
            });

        }
    },
}
</script>