<template>
    <transition name="fade">
      <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        ></div>
        <div
          class="fixed inset-0 z-10 w-screen overflow-y-auto"
        >
                <div
                  data-te-modal-init
                  data-te-backdrop="false"
                  class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
                  id="exampleModalComponents"
                  tabindex="-1"
                  aria-labelledby="exampleModalComponentsLabel"
                  aria-hidden="true">
                  <div
                    data-te-modal-dialog-ref
                    class="pointer-events-none relative w-auto opacity-100 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:my-7 min-[576px]:max-w-[500px]">
                    <div
                      class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
                      <div
                        class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
                        <h5
                          class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
                          id="exampleModalComponentsLabel">
                          Agregar Nuevo Contacto
                        </h5>
                        <button @click="$emit('close')"
                          type="button"
                          class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
                          data-te-modal-dismiss
                          aria-label="Close">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="h-6 w-6">
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M6 18L18 6M6 6l12 12" />
                          </svg>
                        </button>
                      </div>
                      <div class="relative flex-auto p-4" data-te-modal-body-ref>



                        <div class="flex items-center ">Cargar Imagen &nbsp;&nbsp;&nbsp;
                            <label for="dropzone-file" class="flex flex-col items-center justify-center w-40 h-40 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                    <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                    </svg>
                                </div>
                                <input id="dropzone-file" type="file" ref="file" accept="image/png, image/gif, image/jpeg" v-on:change="handleFileUpload()" @change="previewFiles" class="hidden" />
                            </label>
                            <p>&nbsp;&nbsp;<strong>{{ select_file }}</strong></p>
                        </div> 



                        <div class="flex flex-wrap px-3 py-3">
                          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                            <strong>Nombre:</strong> <strong style="color: red;">*</strong>
                          </label>
                          <input v-model="first_name" class="appearance-none block w-full bg-white text-gray-700 border border-gray-200 py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text">
                        </div>

                        <div class="flex flex-wrap px-3 py-3">
                          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                            <strong>Apellido:</strong> <strong style="color: red;">*</strong>
                          </label>
                          <input v-model="last_name" class="appearance-none block w-full bg-white text-gray-700 border border-gray-200 py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text">
                        </div>

                        <div class="flex flex-wrap px-3 py-5" >
                          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                            <strong>Descripción:</strong> <strong style="color: red;">*</strong>
                          </label>
                          <textarea v-model="description" class="appearance-none block w-full bg-white text-gray-700 border border-gray-200 py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" rows="3"></textarea>
                        </div>




                      </div>
                      <div
                        class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
                          <button
                            @click.prevent="store()"
                            class="mb-2 md:mb-0 bg-yellow-400 border border-yellow-400 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-md hover:shadow-lg hover:bg-yellow-400"
                          >
                            Guardar
                          </button>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>
    </transition>
</template>

<script>
  import Vue from 'vue';
  import axios from 'axios'
  import VueToastr from "vue-toastr";
  import {
      Modal,
      Ripple,
      initTE,
    } from "tw-elements";

    Vue.use(VueToastr, {
        position: "toast-bottom-left",
        timeout: 5000,
        progressbar: true,
    });

    initTE({ Modal, Ripple });

  export default {
      name: 'New_user',
      data() {
        return {
            first_name:'',
            last_name:'',
            description:'',
            file:'',
            select_file:'',
            token: axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('access_token')
        };
      },
      mounted() {
        this.$toastr.defaultTimeout = 10000;
        this.$toastr.defaultPosition = "toast-bottom-left";
      },
      methods: {        
        handleFileUpload(e){
            this.file = this.$refs.file.files[0];
        },

        previewFiles: function(event){
            this.select_file = event.target.files[0].name;
        },

      	store: function() {
            var token = this.token
            let formData = new FormData();
            formData.append('first_name', this.first_name);
            formData.append('last_name', this.last_name);
            formData.append('description', this.description);
            formData.append('ima_profile', this.file);

            const config = {
                headers: { 
                    'content-type': 'multipart/form-data',
                    'Authorization' : token
                }
            };

            var url = 'store';
            axios.post(url, formData, config).then(response => {
                this.file = ''
                this.$emit('guardar');
            }).catch(error => {
                var result = Object.keys(error.response.data.errors)[0];
                this.$toastr.w(error.response.data.errors[result]);
            });
      	},		


      }
  };
</script>

<style>
    #app {
      font-family: Avenir, Helvetica, Arial, sans-serif;
    }

    .fade-enter,
    .fade-leave-to {
      opacity: 0;
    }

    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 500ms ease-out;
    }
</style>